{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/home/home.css' %}">
{% endblock %}

{% block EXTJS %}
    <script type="text/javascript" src="{% static 'app/home/js/home.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="home">
        {#   顶部轮播       #}
        <div class="swiper-container" id="topSwiper">
            <div class="swiper-wrapper">
                <!--处理轮播banner图-->
                {% for mainwheel in mainwheels %}
                    <div class="swiper-slide">
                        <a href="#">
                            <img src="{{ mainwheel.img }}" alt="">
                        </a>
                    </div>
                {% endfor %}
                <!-- 处理结束 -->
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>

        </div>
        {#         导航         #}
        <div class="topMenu" >

            <nav>
                <ul >
                    {% for mainnav in mainnavs %}
                    <!-- 处理导航数据 -->
                        <li>
                            <img src="{{ mainnav.img }}" alt="">
                            <span>{{ mainnav.name }}</span>
                        </li>
                    {% endfor %}
                    <!--处理结束-->
                </ul>
            </nav>

        </div>
        {#         必购     #}
        <div id="swiperMenu" class="swiper-container">

            <ul class="swiper-wrapper">
                <!-- 处理必购商品信息 -->
                    {% for mainmustbuy in mainmustbuys  %}
                    <li class="swiper-slide">
                        <img src="{{ mainmustbuy.img }}" alt="">
                    </li>
                    {% endfor %}
                <!-- 处理结束 -->

            </ul>

        </div>
        {#          商店    #}
        <div class="CVS">
            <!--处理第一个店铺的数据的图片-->
            {% for mainshop in mainshops %}
                {% if forloop.counter == 1 %}
            <div>
            <h2>
                <img src="{{ mainshop.img }}" alt="">
            </h2>
            </div>
                {% endif %}
            {% endfor %}
            <!--处理结束-->

            <fieldset>

                <!--处理第二个到第三个数据-->
                {% for mainshop in mainshops %}
                    {% if forloop.counter > 1 and forloop.counter < 4 %}
                    <a href="#">
                        <img src="{{ mainshop.img }}" alt="">
                    </a>
                    {% endif %}
                <!--处理结束-->
                {% endfor %}
            </fieldset>

            <ul>
                <!--处理第四个到第七个数据-->
                {% for mainshop in mainshops %}
                    {% if forloop.counter > 3 and forloop.counter < 8 %}
                    <li>

                        <a href="#">
                            <img src="{{ mainshop.img }}" alt="">
                            <span></span>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                <!--处理结束-->

            </ul>

            <ol>
                <!--处理第七个到第十一个数据-->
                {% for mainshop in mainshops %}
                    {% if forloop.counter > 7 and forloop.counter < 12 %}
                    <li>
                        <a href="#">
                            <img src="{{ mainshop.img }}" alt="">
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                <!--处理结束-->

            </ol>

        </div>

        {#         主要显示 #}

        <div class="mainInfo">
            <!--商品展示-->
            {% for mainshow in mainshows %}
                {% if forloop.counter == 1 %}
                <section>
                    <h3><span></span><a href="#">更多&gt;</a></h3>

                    <div>
{#                        {% for mainshow in mainshows %}#}
                        <a href="#">
                            <img src="{{ mainshow.img }}" alt="">
                        </a>
                    </div>

                    <ul>

                        <li>
                            <a href="#">
                                <img src="{{ mainshow.img1 }}" alt="">
                                <p class="description">
                                    {{ mainshow.longname1 }}
                                </p>
                                <span>￥</span>
                                <s>￥</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                       <li>
                            <a href="#">
                                <img src="{{ mainshow.img2 }}" alt="">
                                <p class="description">
                                {{ mainshow.longname2 }}
                                </p>
                                <span>￥</span>
                                <s>￥</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>
                       <li>
                            <a href="#">
                                <img src="{{ mainshow.img3 }}" alt="">
                                <p class="description">
                                {{ mainshow.longname3 }}
                                </p>
                                <span>￥</span>
                                <s>￥</s>
                            </a>
                            <button>
                                <span>+</span>
                            </button>
                        </li>


                    </ul>

                </section>
                {% endif %}
            {% endfor %}
            <!--商品展示结束-->


                    </div>
    </div>

{% endblock %}
