{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3>待收货订单列表</h3>

    <ul>
        <!--订单展示-->
         {% for order in orders %}
            <li>
            {% for ordergood in order.ordergoodsmodel_set.all %}
                <a href="#">
                    <p>订单id:{{ order.o_num }}</p>
                    <p>数量:{{ ordergood.goods_num }}</p>
                    <p>商品名称:{{ ordergood.goods.productname }}</p>
                        <li>
                            <img src="{{ ordergood.goods.productimg }}" alt="">
                        </li>
                        <!--处理结束-->
                </a>
            {% endfor %}
            </li>
         {% endfor %}
        <!--订单处理结束-->

    </ul>


{% endblock %}
